{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [reagent "1.1.0"]
                [cljs-http "0.1.46"]]
 :builds       {:app {:target     :browser
                      :output-dir "docs/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [ui.core]}}
                      :devtools   {:after-load ui.core/mount-root}}}

 :dev-http     {3000 {:root    "docs"
                      :handler user/app}}}
